<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <img class="navbar-brand" width="120" style="opacity: 0.6;border-radius: %;" src="/static/images/logo2.png">
    <a class="navbar-brand" href="/">NetIQ Access Manager</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
                <li><a class="nav-link" href="/">{{ session.username }}</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="nav-link" href="/signup">Sign up</a></li>
            <li><a class="nav-link" href="/login">Sign in</a></li>
          {% endif %}

     </ul>
    </div>
</nav>