<nav style="background: linear-gradient(to right, #056FF6 0%, #000000 100%);" class="navbar navbar-expand-md" >
<!--    <img class="navbar-brand" width="120" style="opacity: 0.6;border-radius: %;" src="/static/images/logo2.png">-->
    <img class="navbar-brand" width="110" style="" src="/static/images/mflogo22.jpg">
    <a class="navbar-brand text-white" href="/">NetIQ Access Manager</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
          {% if session.logged_in %}
                <li><a class="nav-link text-white" href="/">{{ session.username }}</a></li>
                <li><a class="nav-link text-white" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="nav-link text-white" href="/signup">Sign up</a></li>
            <li><a class="nav-link text-white" href="/login">Sign in</a></li>
          {% endif %}
     </ul>
    </div>
</nav>