{% extends 'layout.html' %}

{% block body %}
        <h1>About Us</h1>
        <p>NetIQ Access Manager doesn't force you to trade business agility for better security controls. Ensure user productivity from any location by extending seamless access and security to all your users -- including partners. As a result, save time and money with heightened security and simplified administration. Access Manager is the only solution to combine advanced capabilities such as multi-factor authentication, data encryption, and Single Sign-on. NetIQ's comprehensive approach saves you time and money by eliminating siloed provisioning and access control systems and by automating manual, time consuming IT and business processes.</p>
{% endblock%}