{% extends 'layout.html' %}

{% block body %}
    <div>
        <h2 style="display:inline" >{{ article.title }}</h2>
<!--        <small  >Written by {{ article.author }} on {{ article.date_posted}}</small>-->
<!--    <form class="form-inline"  action="/send_article" method="post">-->
<!--        <input style="display:inline" class="btn btn-success float-right" onclick="alert('Please wait, System preparing your article in PDF format !')" type="submit" value="Send to Mail" >-->
        {% if session.logged_in %}
        <a style="display:inline;color: inherit;" class="btn float-right" href="send_article_new/{{article.id}}" type="submit">
            <span  onclick="alert('Please wait, Application preparing your article in PDF format !')" >
            <i title="send to mail in PDF" class='far fa-envelope' style='font-size:35px'></i>
            <i class='far fa-file-pdf' style='font-size:15px;color:red'></i>
            </span>
        </a>
        {% endif %}
    </div>
     <small>Written by {{ article.author }} on {{ article.date_posted}}</small>
    <hr>
    <div>
         {{ article.body | safe}}
    </div>
    <hr>
    <p> <a class="btn btn-sm btn-info" style="color: inherit;" href="{{ url_for('articles') }}">Back</a>
        {% if session.logged_in %}
        <a  class="btn btn-warning btn-sm" style="color: inherit;margin-left:20px;" href="{{ url_for('edit_article', page='articles', id=article.id) }}">Edit</a>
        {% endif %}
    </p>
{% endblock%}