{% extends 'layout.html' %}

{% block body %}
    <h2>{{ article.title }}</h2>
    <small>Written by {{ article.author }} on {{ article.date_posted}}</small>
    <hr>
    <div>
         {{ article.body | safe}}
    </div>
    <hr>
    <p> <a class="btn btn-sm btn-info" style="color: inherit;" href="{{ url_for('articles') }}">Back</a>
        {% if session.logged_in %}
        <a  class="btn btn-warning btn-sm" style="color: inherit;margin-left:20px;" href="{{ url_for('edit_article', page='articles', id=article.id) }}">Edit</a>
        {% endif %}
    </p>
{% endblock%}