{% extends 'layout.html' %}

{% block body %}
     <h1>Edit URL</h1>
    {% from "includes/_formhelpers.html" import render_field %}
     <form method="POST" action="">
         <div class="form-group">
             {{ render_field(form.url_name, class_="form-control") }}
         </div>
         <div class="form-group">
             {{ render_field(form.url, class_="form-control") }}
         </div>
         <p><input type="submit" class="btn btn-primary" value="submit"></p>
     </form>
{% endblock %}