{% extends 'layout.html' %}

{% block body %}
<!--  <main role="main" class="container">-->
      <div class="jumbotron text-center">
        <h1>Welcome to Access Manager</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        {% if session.logged_in == NULL%}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
      </div>
<!--  </main>&lt;!&ndash; /.container &ndash;&gt;-->
{% endblock%}