{% extends 'layout.html' %}

{% block body %}
<!--  <main role="main" class="container">-->
      <div class="jumbotron text-center">
        <h1>Welcome to Access Manager</h1>
        <p class="lead">UAs the demands of secure web access become more complex,
            you may find yourself struggling to keep up with the overhead of
            multiple access management solutions to solve your cloud, mobile, and intranet needs.
            <br> There is no need to settle for complexity when you can have SSO everywhere through a single solution.</p>
        {% if session.logged_in == NULL%}
          <a href="/register" class="btn btn-primary btn-lg">Register</a>
          <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
      </div>
<!--  </main>&lt;!&ndash; /.container &ndash;&gt;-->
{% endblock%}