{% extends 'layout.html' %}

{% block body %}
    <br>
    <div>
        <h3 style="display:inline">URL List </h3>
        <a style="display:inline" class="btn btn-success float-right" href="/add_url"> + Add URLs</a>
    </div>
    <hr>
    <br>
    <table class="table table-striped" style="height:10px" >
        <tr style="height:20px;" >
            <th>S.No</th>
            <th style="width:80%">URL Name</th>
            <th style="width:100%;text-align:middle">Actions</th>
        </tr>
        {% set count = [1] %}
        {% for url_data in urls %}
            <tr style="text-align:left">
                <td>{{ count }}</td>
                <td><a href="{{ url_data.url }}">{{ url_data.url_name }}</a></td>
                <td>
                    <form action="{{ url_for('delete_url', id=url_data.id)}}" method="post">
                        <a href="edit_url/{{ url_data.id }}" class="btn btn-primary pull-right">Edit</a>
                        <input type="hidden" name="method" value="DELETE">
                        <input type="submit" style="margin:1px;height:35px" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
          {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
        {% endfor %}
    </table>
    <hr>
{% endblock%}