<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coll.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
   {% include 'includes/_navbar.html' %}
  <div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar bg-dark">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
<!--        <div class="sidebar-sticky collapse navbar-collapse navbar-ex1-collapse">-->
<!--            <ul class="nav navbar-nav side-nav">-->
          <li class="nav-item">
            <a class="nav-link text-white" href="/">
              <span style="font-weight:78px;color:white" data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">
              <span style="font-weight:78px;color:white" data-feather="server"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/add_user_task">
              <span style="font-weight:78px;color:white" data-feather="briefcase"></span>
              User tasks
            </a>
          </li>
          {% endif %}
           {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/tupdates">
              <span style="font-weight:78px;color:white" data-feather="user-plus"></span>
              Team updates
            </a>
          </li>
          {% endif %}
           {% if 'admin' == session.username|lower %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/user_details">
              <span style="font-weight:78px;color:white" data-feather="users"></span>
              Registered users
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/url_links">
              <span style="font-weight:78px;color:white" data-feather="bookmark"></span>
              Bookmarks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/add_task">
              <span style="font-weight:78px;color:white" data-feather="list"></span>
              ToDos summary
            </a>
          </li>
          {% if 'admin' == session.username|lower %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/articles">
              <span  style="font-weight:78px;color:white" data-feather="book-open"></span>
              All Articles
            </a>
          </li>
           {% endif %}
          {% if config.GLOBAL_NO_ARTICLES > 0 %}
          <li class="nav-item">
          <a class="nav-link text-white" href="#" data-toggle="collapse" data-target="#submenu-1">
               <span  style="color:white" data-feather="book-open"></span>
              Articles
              <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                <ul style="list-style-type:none;" id="submenu-1" class="collapse">
                    {% for article in config.GLOBAL_ARTICLES %}
                    <li class="nav-item"><a class="nav-link text-white" href="/articles/{{article.category}}">
                        <span  style="color:white" data-feather="book-open"></span>
                        {{article.category}}
                       </a>
                    </li>
                    {% endfor%}
                    </a>
                </ul>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white" href="/articles">
                  <span  style="font-weight:78px;color:white" data-feather="book-open"></span>
                  Articles
                </a>
              </li>
            {% endif %}
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/loading">-->
<!--              <span data-feather="users"></span>-->
<!--              Loading-->
<!--            </a>-->
<!--          </li>-->
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span style="font-weight:bold">See also</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
<!--            <span data-feather="plus-circle"></span>-->
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">
              <span style="font-weight:78px;color:red" data-feather="info"></span>
              About
            </a>
          </li>
          <li class="nav-item text-white">
            <a class="nav-link text-white" href="/contactus">
              <span style="font-weight:78px;color:red" data-feather="send"></span>
              Contact us
            </a>
          </li>
        </ul>
      </div>
    </nav>
         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
             {% include 'includes/_messages.html' %}
       {% block body %}{% endblock %}
       <br>
       <footer>
                <hr style="margin-top: 300px;">
				<p style="width: 100%;background-color: #F8F8F8;text-align: center;">
                    &copy; 2019 - Demo Website. All rights reserved.</p>
       </footer>
          </main>

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<!--   <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>-->
   <script type="text/javascript">
           CKEDITOR.replace('editor',{height: 300,filebrowserUploadUrl: "/upload"});
   </script>
   <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   <script src="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.js"></script>
<!--         </main>-->
  </div>
             </div>
<script>
$(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $(".side-nav .collapse").on("hide.bs.collapse", function() {
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
    });
    $('.side-nav .collapse').on("show.bs.collapse", function() {
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
    });
})
</script>

</body>
<style>
 .sidebar-sticky ul a{
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
}
</style>
</html>