{% extends 'layout.html' %}

{% block body %}

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Sign in to continue</h4>
	<i class="fa fa-sign-in" aria-hidden="true"></i>
    <div class="textbox-width" style="align:right">
        <form action="/login" method="post">
         <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input name="username" id="username" class="form-control" placeholder="Username" type="text">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" name="password" id="password"  placeholder="Create password" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sign in  </button>
        </div> <!-- form-group// -->
        <p class="text-center ">Don't have an account? <a href="/signup">Sign up here</a> </p>
        </form>
    </div>
    </article>
    </div>
<style>
.textbox-width{
   width: 400px;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
</style>
{% endblock%}