{% extends 'layout.html' %}

{% block body %}
     <div align="center">
     <h3 align="center" style="background-color: rgb(51, 187, 255);opacity: 0.9;width: 650px;">Please Signup</h3>
        <div >
            <form action="/register" method="post"
                  style="background-color: rgb(51, 187, 255);width: 650px;padding: 15px 20px; opacity: 0.9;" >
                <div class="form-group">
<!--                    <label>Name:</label>-->
                    <input type="text" pattern=".{1,50}" required title="5 to 10 characters" placeholder="Name"
                           name="name" id="name" class="form-control" style="width: 600px;" value="" >
                </div>
                <div class="form-group">
<!--                  <label>EMail:</label>-->
                  <input type="email" required title="15 to 50 characters" placeholder="Email"
                         name="email" id="email" class="form-control" style="width: 600px;" value="">
                </div>
                <div class="form-group">
<!--                  <label>Username:</label>-->
                  <input type="text" name="username" id="username" placeholder="Username"
                         class="form-control" style="width: 600px;" value="" required="">
                </div>
                <div class="form-group">
<!--                  <label>Password:</label>-->
                  <input type="password" name="password" id="password" placeholder="Password"
                         class="form-control" style="width: 600px;" value="" required="">
                </div>
                <div class="form-group">
<!--                  <label>Confirm Password:</label>-->
                  <input type="password" name="confirm" id="confirm" placeholder="Confirm Password"
                         class="form-control" style="width: 600px;" value="" required="">
                </div>
    <!--        <button type="submit" style="margin-left:30px;height:35px;display:inline" class="btn btn-success"  value="Add">Add</button>-->
                <p><input type="submit" class="btn btn-primary" value="submit"></p>
    <!--        <button type="submit" style="display:inline" class="btn btn-success float-right"  value="Add">Add</button>-->
            </form>
        </div>
     </div>
<!--         <form action="" style="max-width:500px;margin:auto">-->
<!--          <div class="input-container">-->
<!--            <i class="fa fa-user icon"></i>-->
<!--            <input class="input-field" type="text" placeholder="Name" name="name" value="{{request.form.name }}">-->
<!--          </div>-->
<!--          <div class="input-container">-->
<!--            <i class="fa fa-user icon"></i>-->
<!--            <input class="input-field" type="text" placeholder="Username" name="username"-->
<!--                   value="{{request.form.username }}">-->
<!--          </div>-->
<!--          <div class="input-container">-->
<!--            <i class="fa fa-envelope icon"></i>-->
<!--            <input class="input-field" type="text" placeholder="Email" name="email" value="{{request.form.email }}">-->
<!--          </div>-->

<!--          <div class="input-container">-->
<!--            <i class="fa fa-key icon"></i>-->
<!--            <input class="input-field" type="password" placeholder="Password" name="password"-->
<!--                   value="{{request.form.password }}">-->
<!--          </div>-->

<!--           <div class="input-container">-->
<!--            <i class="fa fa-key icon"></i>-->
<!--            <input class="input-field" type="password" placeholder="Confirm Password" name="confirm"-->
<!--               value="{{request.form.confirm }}">-->
<!--          </div>-->

<!--          <button type="submit" class="btn">Register</button>-->
<!--        </form>-->
{% endblock %}