{% extends 'layout.html' %}

{% block body %}
   <h3>Team Members Updates</h3>
   <hr>
   <ul class="list-group">
       {% for tupdate in tupdates %}
          <br>
           <button style="font-weight: bold; background: linear-gradient(to right, #0066ff 0%, #009999 140%);" class="collapsible">{{tupdate.name}}</button>
               <div style="background-color:#ebf0f2" class="content">
                   <small>Created by {{ tupdate.author }} on {{ tupdate.date_posted}} &#8192;&#8192;&#8192;&#8192;&#8192;&#8192;&#8192;
                        Last Modified: {{ tupdate.date_updated}}</small>
                        <hr>
                   <div>
                        {{ tupdate.body | safe}}
                   </div>
                </div>
<!--       <li class="list-group-item"><a href="tupdate/{{tupdate.id}}">{{tupdate.name}}</a></li>-->
<!--            <li class="list-group-item">-->
<!--                <a data-toggle="collapse" data-target="#{{tupdate.id}}"><h4>{{tupdate.name}}</h4>-->
<!--                </a>-->
<!--                <div id="{{tupdate.id}}" class="collapse">-->
<!--                    <small>Created by {{ tupdate.author }} on {{ tupdate.create_date}} Last Modified: {{ tupdate.update_date}}</small>-->
<!--                     <hr>-->
<!--                     {{ tupdate.body | safe}}-->
<!--                </div>-->
<!--            </li>-->
       {% endfor%}
    </ul>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
<!--      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
<!--      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
{% endblock%}