{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <h2>Task list</h2>
    <hr>
      <form action="/add_user_task" method="post" >
        <div class="form-group">
            <label><strong>Task Title:</strong></label>
          <input type="text" name="task" id="task" class="form-control"
                 placeholder="Enter task title" style="background-color: #F8F8F8;" value="" required="">
        </div>
        <div class="form-group">
          <select class="form-control" name="status" id="status"
                  style="width:150px;display:inline;background-color: #F8F8F8;" required="">
              <option value="" selected disabled hidden>
          Task Status
              <option value="N">New</option>
              <option value="P">In Progress</option>
              <option value="C">Completed</option>
              <option value="B">Blocked</option>
          </select>
          <select class="form-control" name="name" id="name"
                  style="width:200px;display:inline;margin-left:30px;background-color: #F8F8F8;" required="">
              <option value="" selected disabled hidden>
          Assign to
              {% for user_data in users %}
                  {% if user_data.username != 'admin' %}
                        <option value="{{user_data.username}}">{{user_data.name}}</option>
                  {% endif %}
              {% endfor %}
          </select>
          <button type="submit" style="margin-left:30px;height:35px;display:inline" class="btn btn-success"  value="Add">Add</button>
        </div>
      </form>
        <hr>
     <ul class="list-group">
       {% for user_data in users %}
          <br>
           {% set tlist = {'tsk': 0 } %}
           {% if user_data.name != 'Admin' %}
           {% for row in total_tasks  %}
                 {% if user_data.username == row.name %}
                        {% if tlist.update({'tsk': row.x}) %}
                        {% endif %}
                 {% endif %}
           {% endfor %}
           <button style="font-weight: bold;" class="collapsible">{{user_data.name}} &#8192;&#8192;[ {{ tlist.tsk }} ]</button>
               <div class="content">
                   <br>
                   <font size="2">
                    <table class="table table-bordered data-table table-sm table-striped">
                    <thead >
                      <tr bgcolor="grey">
                        <th width="75px">Task ID</th>
                        <th> Task </th>
                        <th width="200px"> Assigned to</th>
                        <th style="text-align:center" width="50px">Status</th>
                        <th style="text-align:center" width="100px">Action</th>
                      </tr>
                    </thead>
                       {% set count = [1000] %}
                        {% for task_data in tasks %}
                            {% if user_data.username == task_data.name %}
                            <tr>
                                <td ><a  style="color: inherit;" href="#" title="{{task_data.comments}}">{{ count }}</a></td>
                                <td >{{ task_data.task }}
                                    <img  title="{{task_data.comments}}"
                                          style="margin-left:10px;" src="https://img.icons8.com/metro/18/000000/info.png">
                                    </td>
                                <td >{{ task_data.name }}</td>
                                {% if task_data.status == 'N' %}
                                     <td >
                                          <form style="text-align:center">
                <!--                              <input type="submit" style="height:35px" value="{{task_data.status}}" class="btn btn-secondary">-->
                                              <button style="background-color:grey;font-size:10px"><b>N</b></button>
                                          </form>
                                     </td>
                                {% elif task_data.status == 'P' %}
                                     <td >
                                          <form style="text-align:center">
                                              <button style="background-color:orange;font-size:10px"><b>P</b></button>
                <!--                              <input type="submit" style="height:35px" value="{{task_data.status}}" class="btn btn-warning">-->
                                          </form>
                                     </td>
                                 {% elif task_data.status == 'B' %}
                                     <td >
                                          <form style="text-align:center">
                                              <button style="background-color:red;font-size:10px"><b>B</b></button>
                <!--                              <input type="submit" style="height:35px" value="{{task_data.status}}" class="btn btn-warning">-->
                                          </form>
                                     </td>
                                {% else %}
                                     <td >
                                          <form style="text-align:center">
                                              <button style="background-color:green;font-size:10px"><b>C</b></button>
                <!--                              <input type="submit" style="height:35px;" value="{{task_data.status}}" class="btn btn-success">-->
                                          </form>
                                     </td>
                                {% endif %}
                                <td >
                                    <form style="text-align:center" >
                                        <a href="edit_task/{{ task_data.id }}" style="color: inherit;"><i class='fas fa-user-edit' style='font-size:18px'></i></a>
                                        <a href="delete_task/{{ task_data.id }}" style="color: inherit;padding-left:20px"><i class='fas fa-trash-alt' style='font-size:18px'></i></a>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                          {% if count.append(count.pop() + 1) %}{% endif %} {# increment count by 1 #}
                        {% endfor %}
                  </table></font>
                </div>
           {% endif %}
       {% endfor %}
     </ul>
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}